
body {
  font-family: 'Roboto', sans-serif;
  background-color: #DEF2F1;
  color: #17252A !important;
  font-size: 16px;
}

.jumbotron {
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1 {
  font-size: 125px !important;
}

.jumbotron p {
  font-size: 32px;
  background: #FEFFFF;
}

.row h3 {
  font-weight: 500;
  font-size: 26px;
}

.row h4 {
  font-weight: 400;
  font-size: 19px;
}

a {
  color: #17252A;
  text-decoration: none !important;
}

a:hover{
  color: #FEFFFF;
}

p {
  font-weight: 300;
}
img {
    float:left;
}
img:hover {
  color: red;
}
@media screen and (min-width: 768px){
  .jumbotron{
    margin-top: 75px !important;
  }
  h1 {
    font-size: 125px !important;
  }
  h4 {
    margin-bottom: 5px;
  }
  .container {
    margin-left: 100px;
  }
  #work {
    padding-left: 80px;
  }
}
